<h1>Harry Dresden's Escape Potion</h1>
<h2>From "Storm Front" by Jim Butcher
<br>The first novel in The Dresden Files</h2> 
<h3>Content by Jim Butcher
    <br>Recipe page created by Jeff Carpenter</h3>
<a href="http://www.amazon.com/Storm-Front-Dresden-Files-Butcher/dp/0451457811">"Storm Front" on Amazon.com</a>
<p>Potions are liquids and powders with magical properties.
    <br>A potion consists of eight parts: a liquid base, five ingredients to engage five physical senses, one to engage the mind, and one to engage the spirit.
    <br>These ingredients are different for each potion and for each person who makes them. The potion must also be infused with the wizard's will.</p>
<ul>
    <li>32 oz. Jolt cola (base)</li>
    <li>1 tbs motor oil (scent)</li>
    <li>Pinch of pieces of feather (touch)</li>
    <li>Handful chocolate-covered espresso beans (taste)</li>
    <li>One shadow (sight)</li>
    <li>One dozen mouse scampers (sound)</li>
    <li>One shredded bus ticket (mind)</li>
    <li>One broken chain link (spirit)</li>
</ul>
<ol>
    <li>Draw a large chalk circle around the preparation table.</li>
    <li>Bring the Jolt base to a boil over a low flame.</li>
    <li>On a slow count to 30, add the oil, feather and espresso beans.</li>
    <li>Stir with a maple sapling.</li>
    <li>When the spirit burbles, with calm thoughts fold in the shadow, mouse scampers, bus ticket and chain link.</li>
    <li>Chant "fugal" (escape) for 15 minutes or until colors turn.</li>
    <li>Avoid dark thoughts and mistakenly chanting "fuego" (fire).</li>
</ol>
<p>Yield: 2 uses
    <br>Total preparation time: 6 hours
    <br>Potency: 3 days
    <p>